<div style="text-align: center; align-items: center; margin-top: 2rem;">
    <p-card styleClass="shadow-2" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        <ng-template pTemplate="header">
            Prueba Tecnica
        </ng-template>
    
        <p>Juan Jimenez</p>
        <p>1. Crear productos</p>
        <p>2. Ingresar por almacen para crear existencia</p>
        <p>3. Facturar y validar que haya existencias.</p>
    
        <ng-template pTemplate="footer">
            Gracias.
        </ng-template>
    </p-card>
</div>
