<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
        <!-- <button pButton pRipple label="Nueva Tarea" icon="pi pi-plus" class="p-button-success p-mr-2" ></button> -->
    </ng-template>
</p-toolbar>


<p-table [value]="inventario" dataKey="nombre" [tableStyle]="{'min-width': '60rem'}">

    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="producto.concepto" style="text-align: center;">producto <p-sortIcon field="producto"></p-sortIcon></th>
            <th pSortableColumn="cantidad" style="text-align: center;">cantidad <p-sortIcon field="cantidad"></p-sortIcon></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-inventario let-expanded="expanded">
        <tr>
            <td style="text-align: left;">{{inventario.id}}</td>
            <td style="text-align: center;">{{inventario.producto.concepto}}</td>
            <td style="text-align: center;">{{inventario.cantidad}}</td>
        </tr>
    </ng-template>

</p-table>